<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PostApp</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h2>
        <a href="/">Post App</a>
      </h2>
      <nav>
        <a href="/login">Login</a>
      </nav>
    </header>

    <main>
      <h3>Login</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        fugit aspernatur ipsum dolore, alias, dicta maiores corporis cumque,
        molestias eius saepe consequuntur iure eos veritatis velit? Iure qui
        accusantium suscipit vitae possimus omnis libero earum quam adipisci
        unde, rerum nam sed ratione fugiat magnam iste repudiandae impedit
        facilis soluta ex debitis odio nulla accusamus cumque. Obcaecati
        facilis, cum dolore ipsum sit eveniet molestiae exercitationem delectus,
        accusantium amet dolorem enim cumque voluptate tempora distinctio
        tenetur modi? Aspernatur eius nisi officiis asperiores maxime ipsam nam
        doloribus dignissimos repellendus rem beatae enim, blanditiis
        repudiandae tempore praesentium nulla quasi pariatur magnam voluptas
        labore eveniet!
      </p>
    </main>

    <footer>
      <small>&copy; PostApp</small>
    </footer>
  </body>
</html>
